<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play | Products</title>
</head>

<body>
  <div class="container">
    <h1>Product details</h1>

      <h3>
        <a href="/products/<%=product.id%>">
          <%=product.productTiltle%>
        </a>
      </h3>
      <p>
        <%=product.productDescribtion%>
      </p>
      <p>ราคา <%=product.price%> บาท</p>
      <a href="/products">ย้อนกลับ</a>

  </div>

</body>

</html>